name: _deploy-to-cloud-run

on:
  workflow_call:
    inputs:
      project-id:
        description: 'Project ID'
        type: string
        required: true
      workload-identity-provider:
        description: 'Workload Identity プロバイダ'
        type: string
        required: true
      service-account:
        description: 'サービスアカウント'
        type: string
        required: true
      registry:
        description: 'GCR Name & Cloud Run Name'
        type: string
        required: true
      region:
        description: 'GCP region'
        type: string
        required: true
        default: 'asia-northeast1'

env:
  PROJECT_ID: ${{ inputs.project-id }}
  WIF_PROVIDER: ${{ inputs.workload-identity-provider }}
  WIF_SERVICE_ACCOUNT: ${{ inputs.service-account }}
  REGION: ${{ inputs.region }}
  REPO_NAME: ${{ inputs.registry }}

concurrency:
  group: deploy-to-cloud-run-${{ inputs.registry }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Authenticate with Google Cloud
        id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: ${{ env.WIF_PROVIDER }}
          service_account: ${{ env.WIF_SERVICE_ACCOUNT }}

      - name: Set up gcloud CLI/SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Docker 認証
        run: gcloud auth configure-docker

      # 無料枠を超過しないように古いDockerイメージを削除
      - name: 古い Docker イメージを削除
        continue-on-error: true  # 初回はDockerイメージがなくエラーになるため、エラーを無視する
        run: gcloud artifacts docker images delete gcr.io/$PROJECT_ID/$REPO_NAME --quiet

      - name: Docker イメージをビルド
        run: |-
          docker build . --tag gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Docker イメージを GCR にプッシュ
        run: |-
          docker push gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: デプロイ
        run: |-
          gcloud run deploy $REPO_NAME \
          --region $REGION \
          --image gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA \
          --platform "managed" \
          --port 8000 \
          --allow-unauthenticated \
          --quiet
